# Project exclude paths
/cmake-build-debug/
/cmake-build-release/
/cmake-build*/
/cmake-build-relwithdebinfo-visual-studio-1/
/CMakeGPS/

/.idea/
/out/
/build/
/.vs/
/.vscode/

/*.rar
/*.zip

/docc/

/External/

/ThirdParty/Python/pyNastran/
/ThirdParty/Python/pyNastran/*
/ThirdParty/Python/pyNastranLib/nastran_to_vtk_cli.exe

/Examples/Models/CAD11
/Examples/Models/Driver
/Examples/Models/redsea
/Examples/Models/sukong_Step-1_2.vtu
/ThirdParty/libtorch/
