[submodule "ThirdParty/cgns"]
	path = ThirdParty/cgns
	url = https://github.com/CGNS/CGNS.git
[submodule "ThirdParty/emsdk"]
	path = ThirdParty/emsdk
	url = https://github.com/emscripten-core/emsdk.git
