# Project exclude paths
/cmake-build-debug/
/cmake-build-release/
/cmake-build*/
/cmake-build-relwithdebinfo-visual-studio-1/
/CMakeGPS/

/.idea/
/out/
/build/
/.vs/
/.vscode/
.*/

/*.rar
/*.zip

/docc/

/External/

/ThirdParty/Python/pyNastran/
/ThirdParty/Python/pyNastran/*
/ThirdParty/Python/pyNastranLib/nastran_to_vtk_cli.exe

/Examples/Models/redsea_1_0_8.vtu
/Examples/Models/CAD11
/ThirdParty/libtorch/
